.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #222; /* Textul principal mai închis */
    background-color: #f4e6d7; /* Fundal alb */
}

.not-found::before {
    content: '404';
    font-size: 96px;
    font-weight: bold;
    margin-right: 20px;
    color: #8c6239;
}

@media (max-width: 768px) {
    .not-found::before {
        font-size: 64px;
    }
}

@media (max-width: 480px) {
    .not-found::before {
        font-size: 48px;
    }
}
