.calendar-btn {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #48ac6e; /* Button background color */
    color: white; /* Text color */
    text-decoration: none; /* Remove default underline */
    border: 1px solid #1b6b43; /* Button border */
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.calendar-btn:hover {
    background-color: #1b6b43; /* Hover background color */
    border-color: #1b6b43; /* Hover border color */
    color: white; /* Hover text color */
}
