/* Navbar.css */

.navbar {
    color: white;
    background-color: #8d5543;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.navbar li {
    margin-right: 10px;
}

.navbar a {
    display: inline-block;
    padding: 12px 25px;
    margin: 0 5px;
    background: #754134;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a:hover {
    background: #63372c;
    transform: scale(1.1);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    color: #e0dcd5;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}